*{ margin: auto;  padding: auto;}

body{
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(68, 170, 238, 0.589);
}

main{
    padding: auto;
    max-width: 100%;
    position: relative;
    display: flex;
    width: 100vh;
    height: 75vh;
}

header {
    display: block;
    font-size: 300%;
    text-align: center;
    background-color:dimgray;
    color: seashell;
    padding: 40px;
}
.navbar{
    color: black;
    text-decoration: none;
    font-size: 150%;
}
.highNavbar{
    color: black;
    text-decoration: underline;
    font-size: 250%;
}
.container{
    font-size: 300%;
    width: 800px;
    max-width: 75%;
    background-color: white;
    border-radius: 5%;
    padding: 10px;
    box-shadow: 0 0 10px 5px black;
}

.quest{
    font-weight: bolder;
    color: black;
}

.btn-card{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 25px 0;

}
.btn{
    text-align: center;
    display: flex;
    font-size: 75%;
    border: 1px solid;
    background-color: darkgrey;
    border-radius: 5px;
    padding: 10px 20px;
    width: 80%;
    color: white;
}

.btn:hover
{border: 2px solid black;
}

.start-btn{
    text-align: center;
    align-content: center;
    font-size: 300%;
    font-weight: bolder;
    padding: 20px 20%;
}
.restart-btn{
    display: flex;
    text-align: center;
    align-content: center;
    font-size: 150%;
    font-weight: bolder;
    padding: 20px 25%px;
    margin: 20px;
    
}

.feedBack{
    font-size: 300px;
    margin: 20px;
    text-align: center;
    color:red;
}
.images{
    display: flex;
    width: 600px;
    border-radius: 50%;
}
.submitbtn{
    margin: 10px;
    background-color: silver;
    font-size: 85%;
}
.nametext{
    background-color: white;
    font-size: 45px;
}
.controls
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}