*{ margin: auto;  padding: auto;}
:root{

    --hue-correct: 145;
    --hue-wrong: 0;
}
body{
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

main{
    padding: auto;
    max-width: 100%;
    position: relative;
    display: flex;
    width: 100vh;
    height: 75vh;
}

header {
    font-size: 300%;
    text-align: center;
    background-color:dimgray;
    color: seashell;
    padding: 40px;
    line-height: 60px;
    height: 160px;
}

.container{
    font-size: 100%;
    width: 800px;
    max-width: 75%;
    background-color: white;
    border-radius: 5%;
    padding: 10px;
    box-shadow: 0 0 10px 5px;
}

.quest{
    font-size: 200%;
    font-weight: bolder;
}

.btn-card{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 25px 0;

}
.btn{
    font-size: 250%;
    border: 1px solid;
    background-color: darkgrey;
    border-radius: 5px;
    padding: 10px 20px;
    width: 80%;
    color: white;
}

.btn:hover
{border: 2px solid black;
}

.start-btn, .restart-btn{
    font-size: 300%;
    font-weight: bolder;
    padding: 20px 30px;
}

.controls
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}